@*@model TimesheetScheduler*@
@{
    ViewData["Title"] = "Timesheet Scheduler";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="~/Scripts/TimesheetSchedulerCalendar.js" type="text/javascript"></script>

<link rel="stylesheet" href="~/Content/progressBarAnimation.less" />
<link rel="stylesheet" href="~/Content/TimesheetScheduler.less" />

<body>
    <div class="container">
        <br />
        <div class="row">
            <div class="form-group col-xs-4">
                <h2>Timesheet Scheduler</h2>
            </div>
            <div class="form-group col-xs-4 customBtn">
                <h2>
                    @*<button class="btn btn-success">SAVE</button>*@
                    <button id="btnInputColor" class="btn btn-primary">COLOR</button>
                    <input id="inputColor" type="color" style='opacity:0;width:100px;position:absolute;' />
                    <button id="btnAction" class="btn btn-warning" title="Export to a Excel file">EXCEL</button>
                    <button id="btnInfo" class="btn btn-danger">INFO</button>
                </h2>
                <h2>
                    <input id="btnView" type="image" title="Change for Calendar View" src="~/Images/calendarView.png" />
                </h2>
            </div>
            @*<div class="form-group col-xs-1">
                    <input id="btnView" type="image" src="~/Images/list.png" />
                </div>*@
            <div class="form-group col-xs-2">
                <div class="form-group">
                    <label for="monthTimesheet">Month</label>
                    <select class="form-control" id="monthTimesheet"></select>
                </div>
            </div>
            <div class="form-group col-xs-2">
                <div class="form-group">
                    <label for="yearTimesheet">Year</label>
                    <select class="form-control" id="yearTimesheet"></select>
                </div>
            </div>
        </div>
        <br />
        <div id="calendar"></div>
        <div id="targetTable"></div>
    </div>

    <!-- Modal Info -->
    <div class="modal fade" id="infoModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">INFO</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <label id="dayWorkedInfoLbl" class="modalLbl" for="dayWorkedInfoTxt">Days Worked: </label>
                            <label id="dayWorkedInfoTxt"></label>
                        </div>
                    </form>
                    <form class="form-inline">
                        <div class="form-group">
                            <label id="chargeableHoursInfoLbl" class="modalLbl" for="chargeableHoursInfoTxt">Chargeable Hours: </label>
                            <label id="chargeableHoursInfoTxt"></label>
                        </div>
                    </form>
                    <form class="form-inline">
                        <div class="form-group">
                            <label id="nonchargeableHoursInfoLbl" class="modalLbl" for="nonchargeableHoursInfoTxt">Non-Chargeable Hours: </label>
                            <label id="nonchargeableHoursInfoTxt"></label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- Modal Event -->
<div class="modal fade" id="eventModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Event Info</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="dayTimesheet">Day</label>
                            <input class="form-control" id="dayTimesheet" disabled />
                        </div>
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="workItemTimesheet">Work Item</label>
                            <input class="form-control" id="workItemTimesheet" disabled/>
                        </div>
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="descriptionTimesheet">Description</label>
                            <input class="form-control" id="descriptionTimesheet" />
                        </div>
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="chargeableTimesheet">Chargeable Hours</label>
                            <input type="number" value="7.5" min="0" max="7.5" step="0.5" class="form-control" id="chargeableTimesheet" />
                        </div>
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="nonchargeableTimesheet">Non Chargeable Hours</label>
                            <input type="number" value="0.0" min="0" max="7.5" step="0.5" class="form-control" id="nonchargeableTimesheet" />
                        </div>
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="commentsTimesheet">Comments</label>
                            <input class="form-control" id="commentsTimesheet" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnSaveEvent" type="button" class="btn btn-success" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script id="templateTimesheetTable" type="x-tmpl-mustache">
    <table id="timesheetTable" class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Day</th>
                <th>Work Item</th>
                <th>Description</th>
                <th>Chargeable Hours</th>
                <th>Non Chargeable Hours</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            {{#rows}}
            <tr data-toggle='tooltip' id="row{{Id}}" title='{{tooltipDay}}' class='{{classRow}}' data>

                @*RADIOBUTTON*@
                <td class='radioTd'>
                    <div class='radio'>
                        <label><input type='radio' name='optradio' class='chk-day' id='{{Id}}' {{disableFlag}}></label>
                    </div>
                </td>

                @*DAY*@
                <td>
                    <div><label data-toggle='tooltip' title='{{day}}' id='dayTimesheet{{Id}}'>{{dayShortFormat}}</label></div>
                </td>

                @*WORKITEM*@
                <td>
                    <div><label id='workitem{{Id}}'>{{workItem}}</label></div>
                </td>

                @*DESCRIPTION*@
                <td>
                    <div><label id='description{{Id}}'>{{description}}</label></div>
                </td>

                @*CHARGEABLE HOURS*@
                <td>
                    <div><label class="chargeablehoursCls" id='chargeablehours{{Id}}'>{{chargeableHours}}</label></div>
                </td>

                @*NON-CHARGEABLE HOURS*@
                <td>
                    <div><label class="nonchargeablehoursCls" id='nonchargeablehours{{Id}}'>{{nonchargeableHours}}</label></div>
                </td>

                @*COMMENTS*@
                <td>
                    <div><label id='comments{{Id}}'>{{comments}}</label></div>
                </td>
            </tr>
            {{/rows}}
        </tbody>
    </table>
</script>






