@{
    ViewData["Title"] = "Timesheet Scheduler";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@Styles.Render("~/Content/timesheetscheduler")*@

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

<body>
    <div class="container">
        <br />
        <div class="row">
            <div class="form-group col-xs-2 leftContent">

                <label for="userNameTimesheet">User</label>
                <div class="userSelection">
                    <select class="form-control" id="userNameTimesheet" title="Only admin user can see other members' timesheet data" disabled></select>
                    <button id="btnMe" class="btn btn-primary" onclick="bindBtnMe();">ME</button>
                </div>

                <br />
                @*<p>Date: <input type="text" id="datepicker"></p>*@

                <label for="monthTimesheet">Month</label>
                <div class="monthSelection">
                    <button id="btnPrevMonth" title="Previous Month" class="btn btn-primary" onclick="prevNextMonthBtn(0);"><</button>
                    <select class="form-control" id="monthTimesheet"></select>
                    <button id="btnNextMonth" title="Next Month" class="btn btn-primary" onclick="prevNextMonthBtn(1);">></button>
                </div>

                <br />

                <label for="yearTimesheet">Year</label>
                <select class="form-control" id="yearTimesheet"></select>

                <br />
                <div id="divActionsBtns">
                    <button id="btnSaveExcelFile" class="btnActions" title="Export to an Excel File" onclick="confirmationSavePath();"></button>
                    <button id="btnCloseAllTasks" class="btnActions" onclick="closeAllTasksCurrentMonth();"></button>
                    @*<button id="btnCaptureScreen" class="btnActions" onclick="captureScreen();">Capture Screen</button>*@
                    @*<button id="btnSendEmail" class="btnActions" onclick="sendEmail();">SEND EMAIL</button>*@
                </div>
                <br />

                <div id="wrapperDivStartDateNotDefined">
                    <h4 class="collapseDivStartDateNotDefined"
                        title="Show all the items without 'Start Date' in the timesheet path assigned to you">
                        Start Date not defined <span class="spanCountStartDateNotDefined">(0)</span>
                    </h4>
                    <div class="" id="divStartDateNotDefined" style="display:none;">
                    </div>
                </div>

                <br />

                <div>
                    <fieldset id="fieldsetInfoPanel">
                        <legend id="infoPanel">Info</legend>
                        <div id="infoPanelContent">
                            <div>
                                <label id="dayWorkedInfoLbl" class="modalLbl" for="dayWorkedInfoTxt">Days Worked: </label>
                                <label id="dayWorkedInfoTxt"></label>
                            </div>
                            <div>
                                <label id="totalHoursInfoLbl" class="modalLbl" for="totalHoursInfoTxt">Total Hours: </label>
                                <label id="totalHoursInfoTxt"></label>
                            </div>
                            <div>
                                <label id="chargeableHoursInfoLbl" class="modalLbl" for="chargeableHoursInfoTxt">Chargeable Hours: </label>
                                <label id="chargeableHoursInfoTxt"></label>
                            </div>
                            <div>
                                <label id="nonchargeableHoursInfoLbl" class="modalLbl" for="nonchargeableHoursInfoTxt">Non-Chargeable Hours: </label>
                                <label id="nonchargeableHoursInfoTxt"></label>
                            </div>
                            <div>
                                <label id="vatFeeInfoLbl" class="modalLbl" for="vatFeeInfoTxt">VAT Applied: </label>
                                <label id="vatFeeInfoTxt"></label>
                            </div>
                            <div>
                                <label id="rateExcVatInfoLbl" class="modalLbl" for="rateExlVatInfoTxt">Rate (exc. VAT): </label>
                                <label id="rateExlVatInfoTxt" class="currencyMask"></label>
                            </div>
                            <div>
                                <label id="rateIncVatInfoLbl" class="modalLbl" for="rateIncVatInfoTxt">Rate (inc. VAT): </label>
                                <label id="rateIncVatInfoTxt" class="currencyMask"></label>
                            </div>
                            <div>
                                <label id="totalExcVatInfoLbl" class="modalLbl" for="totalExlVatInfoTxt">Total (exc. VAT): </label>
                                <label id="totalExlVatInfoTxt" class="currencyMask"></label>
                            </div>
                            <div>
                                <label id="totalIncVatInfoLbl" class="modalLbl" for="totalIncVatInfoTxt">Total (inc. VAT): </label>
                                <label id="totalIncVatInfoTxt" class="currencyMask"></label>
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>
            <div class="form-group col-xs-10">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</body>

<!-- Modal Event -->
<div class="modal fade" id="eventModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="userNameModal">User Name</label>
                        <input class="form-control" id="userNameModal" disabled />
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="workItemTimesheet">Work Item</label>
                        <input class="form-control" id="workItemTimesheet" disabled />
                    </div>
                </form>
                <form class="form-inline" id="wrapperCreationDate">
                    <div class="form-group">
                        <label for="creationDateTimesheet">Creation Date</label>
                        <input class="form-control" id="creationDateTimesheet" disabled />
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="dayTimesheet" title="Start Date">Day</label>
                        <input class="form-control onEnter watchChange" title="Start Date" id="dayTimesheet" disabled />
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="titleTimesheet">Title</label>
                        <input class="form-control onEnter watchChange" id="titleTimesheet" />
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="chargeableTimesheet">Chargeable Hours</label>
                        <input required type="number" value="7.5" min="0" max="7.5" step="0.25" class="form-control onEnter watchChange" id="chargeableTimesheet" />
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="nonchargeableTimesheet">Non Chargeable Hours</label>
                        <input type="number" value="0.0" min="0" max="7.5" step="0.25" class="form-control onEnter watchChange" id="nonchargeableTimesheet" />
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="descriptionTimesheet">Description</label>
                        <textarea class="form-control watchChange" id="descriptionTimesheet" placeholder="Description..." rows="4"></textarea>
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="closeTaskTimesheet">Close Task</label>
                        <select class="form-control watchChange" id="closeTaskTimesheet"></select>
                    </div>
                </form>
                <hr />
                <form class="form-inline">
                    <span id="workItemLinkNotSaved" class="displayNone">**not saved</span>
                    <table id="linkWorkItemTable">
                        <thead>
                            <tr>
                                <th class="linkWorkItemHeader">Work Items Linked </th>
                                <th>
                                    <button class="form-control" id="btnLinkWorkItem" title="Link Work Item"></button>
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>
                <hr />
                <form class="form-inline urlLinkTfs">
                    <div class="form-group">
                        <label for="linkOriginalUrlTimesheet">Link Original Task</label>
                        <a id="linkOriginalUrlTimesheet" target="_blank" href="" title="Original task url - redirect to TFS">Click to redirect to TFS</a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnCopyEvent" type="button" class="btn btn-primary displayNone" title="Copy Task by Work Item Number">Copy Task</button>
                <button id="btnSaveEvent" type="button" class="btn btn-success" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Actions -->
@*<div class="modal fade" id="actionsModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="background-color:#4f5052;">
                    <div class="grid-container">
                        <div class="item1">
                            <label for="btnExcelExport">Excel Export</label>
                            <div id="btnSaveExcelFile" title="Creates an Excel File" onclick="confirmationSavePath();"></div>
                        </div>
                        <div class="item2">
                            <label for="btnInfo">Month Info</label>
                            <div id="btnInfo" title="Shows Amount of Days/Hours Worked"></div>
                        </div>
                        <div class="item3">
                            <label for="btnCloseAllTasks">Close Tasks</label>
                            <div id="btnCloseAllTasks" onclick="closeAllTasksCurrentMonth();"></div>
                            <div id="btnCloseAllTasks"></div>
                        </div>
                        <div class="item4">Item 4</div>
                        <div class="item5">Item 5</div>
                        <div class="item6">Item 6</div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


<!-- Modal Copy Task -->
<div class="modal fade" id="copyTaskModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Copy Task By Work Item Number</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="workItemIdCopyTask">Work Item Number</label>
                        <input class="form-control" id="workItemIdCopyTask" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnCopyTask" type="button" class="btn btn-success" disabled>Copy</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Link Work Item -->
<div class="modal fade" id="linkWorkItemModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Link Work Item</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="linkWorkItemId">Work Item Number</label>
                        <input class="form-control" id="linkWorkItemId" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnSaveLinkWorkItem" type="button" class="btn btn-success" disabled>Add Link</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/timesheetscheduler")
}