
@{
    ViewBag.Title = "StepsReports";
}

@Scripts.Render("~/bundles/jquery")
@Styles.Render("~/Content/reportmodule")

@section scripts{
    <script src="~/Scripts/jquery.multi-select.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/jquery.dataTables.js"></script> @*MOVE IT TO BUNDLECONFIG AND SET IN _LAYOUT*@
    <script src="~/Scripts/ReportModule.js"></script>
}

<link rel="stylesheet" type="text/css" href="~/Content/multi-select.css">
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/jquery.dataTables.css">

<body>
    <div class="container reportsContent">

        <div class="col-lg-6 well half-top-left">
            <fieldset>
                <legend>Report Filters</legend>
                <div class="col-lg-8">
                    <script id="selectTeamsTemplate" type="x-tmpl-mustache">
                        <select id="selectTeamsElement" class="form-control" onchange="loadMembersByTeam();">
                            <option value="" disabled selected>Please select a team</option>
                            {{#teams}}
                            <option value={{Id}}>{{TeamName}}</option>
                            {{/teams}}
                        </select>
                    </script>
                    <div id="targetSelectTeams"></div>
                    <script id="teamMembersTemplate" type="x-tmpl-mustache">
                        <select id='boxUserSelection' multiple='multiple' class="form-control">
                            {{#TeamDivisionList}}
                            <optgroup label={{TeamDivision}}>
                                {{#TeamMembers}}
                                <option value={{Id}}>{{Name}}</option>
                                {{/TeamMembers}}
                            </optgroup>
                            {{/TeamDivisionList}}
                            {{^TeamDivisionList}}
                                <option value="" disabled>No Options</option>
                            {{/TeamDivisionList}}
                        </select>
                        <button id="btnSelectAllBoxSelection" class="form-control btn btn-default selectAll" disabled>Select All</button>
                    </script>
                    <div id="targetTeamMembers"></div>                   
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="monthTimesheet">Month</label>
                        <div class="monthSelection">
                            <button id="btnPrevMonth" title="Previous Month" class="btn btn-primary" onclick="prevNextMonthBtn2(0);"><</button>
                            <select class="form-control" id="monthTimesheet"></select>
                            <button id="btnNextMonth" title="Next Month" class="btn btn-primary" onclick="prevNextMonthBtn2(1);">></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="yearTimesheet">Year</label>
                        <select class="form-control" id="yearTimesheet"></select>
                    </div>
                    <button id="btnExportExcelBulk" class="btn btn-success btn-block" onclick="confirmationSavePath();" disabled>Export Timesheets</button>
                    <button id="btnGetConsolidatedReportMonthly" class="btn btn-success btn-block" onclick="getConsolidatedReportMonthly();" disabled>Monthly Rate Report</button>
                </div>
            </fieldset>
        </div>

        <div class="col-lg-6 well dataRateMonthlyHidden figuresPanel half-top-right">
            <script id="figuresTemplate" type="x-tmpl-mustache">
                <div class="col-lg-12 figureCell mainFigure">
                    <fieldset>
                        <legend>Figures - {{TeamName}}</legend>
                        <div class="col-lg-6 figureCell">
                            <label class="col-sm-8">VAT Applied</label>
                            <span class="col-sm-4">{{VatApplied}}</span>
                        </div>
                        <div class="col-lg-6 figureCell">
                            <label class="col-sm-8">Period</label>
                            <span class="col-sm-4">{{PeriodSearched}}</span>
                        </div>
                        <div class="col-lg-6 figureCell figureExcVat">
                            <label class="col-sm-8">Total Excl VAT</label>
                            <span class="col-sm-4 currencyFigures">{{TotalExclVat}}</span>
                        </div>
                        <div class="col-lg-6 figureCell figureIncVat">
                            <label class="col-sm-8">Total Incl VAT</label>
                            <span class="col-sm-4 currencyFigures">{{TotalInclVat}}</span>
                        </div>
                    </fieldset>
                </div>
                {{#FiguresByTeamDivision}}
                <div class="col-lg-6 figureCell figuresByTeamDivision">
                    <fieldset>
                        <legend>{{TeamDivision}}</legend>
                        {{#FiguresIndexes}}
                        <div class="col-lg-12 div-wrap-figure figureCell">
                            <label class="col-sm-8">{{Label}}</label>
                            <span class="col-sm-4 currencyFigures">{{Value}}</span>
                        </div>
                        {{/FiguresIndexes}}
                    </fieldset>
                </div>
                {{/FiguresByTeamDivision}}

            </script>
            <div id="targetFigures"></div>
        </div>

        <div class="col-lg-12 well dataRateMonthlyHidden">
            <div class="col-lg-1 form-group divResetTableBackground">
                <button id="btnResetTableBackground" class="btn form-control" onclick="resetTableBackground();" title="Reset Highlighted Rows"><i class="fa fa-refresh"></i></button>
            </div>
            <div class="col-lg-1 form-group btnHideTableMonthlyRate">
                <button class="btn btn-info form-control" onclick="hideTableRateMonthly();">Hide Figures Data</button>
            </div>
            <table id="tableConsolidatedReport">
                <thead>
                    <tr>
                        @*<th>Id</th>*@
                        @*<th>Period</th>*@
                        <th>Name</th>
                        <th>Rate(Exc.VAT)</th>
                        <th>Rate(Inc.VAT)</th>
                        <th>Days worked</th>
                        <th>Day Rate(Exc.VAT)</th>
                        <th>Day Rate(Inc.VAT)</th>
                        <th>Team Division</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</body>