
@{
    ViewBag.Title = "StepsReports";
}

@Scripts.Render("~/bundles/jquery")
@Styles.Render("~/Content/reportmodule")

@section scripts{
    <script src="~/Scripts/jquery.multi-select.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/jquery.dataTables.js"></script> @*MOVE IT TO BUNDLECONFIG AND SET IN _LAYOUT*@
    <script src="~/Scripts/ReportModule.js"></script>
}


<link rel="stylesheet" type="text/css" href="~/Content/multi-select.css">
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/jquery.dataTables.css">

<body>
    <div class="col-lg-12">

       

        <div class="col-lg-4">
            <label for="monthTimesheet">Month</label>
            <div class="monthSelection">
                <button id="btnPrevMonth" title="Previous Month" class="btn btn-primary" onclick="prevNextMonthBtn2(0);"><</button>
                <select class="form-control" id="monthTimesheet"></select>
                <button id="btnNextMonth" title="Next Month" class="btn btn-primary" onclick="prevNextMonthBtn2(1);">></button>
            </div>

            <br />

            <label for="yearTimesheet">Year</label>
            <select class="form-control" id="yearTimesheet"></select>
            <br />
            <div class="col-lg-12 row">
                <div class="col-lg-6 divSwitchMembers">
                    <button id="btnSelectAllBoxSelection" class="btn btn-default selectAll">Select All</button>
                </div>
            </div>
            <br />

            <select id='boxUserSelection' multiple='multiple'></select>
        </div>

        <div class="col-lg-8 tab-content">

            <div class="navBarReportModule">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" id="tabExcelBulk" href="#excelBulk">Export Excel - BULK</a></li>
                    <li><a data-toggle="tab" id="tabConsolidatedReport" href="#consolidatedReport">Consolidated Report</a></li>
                </ul>
            </div>

            <div id="excelBulk" class="tab-pane fade in active">
                <div class="col-lg-4">


                    <br />
                    <button id="btnExportExcelBulk" class="btn btn-success" onclick="confirmationSavePath();" disabled>Export</button>
                </div>
            </div>
            <div id="consolidatedReport" class="tab-pane fade">
                <div class="col-lg-12">
                    <table id="tableConsolidatedReport">
                        <thead>
                            <tr>
                                <th>Id</th>
                                @*<th>Period</th>*@
                                <th>Name</th>
                                <th>Rate(Exc.VAT)</th>
                                <th>Rate(Inc.VAT)</th>
                                <th>Days worked</th>
                                <th>Day Rate(Exc.VAT)</th>
                                <th>Day Rate(Inc.VAT)</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>