
.body-content {
    /*min-width: 1250px !important;*/
    min-width: 90vw !important;
}

.monthSelection,.userSelection {
    display: flex;
}

#divActionsBtns {
    display: flex;

    .btnActions {
        width: 35px;
        height: 42px;
        border: none;
        margin-right: 15px;
        display: block;
        cursor: pointer;
    }

    #btnCloseAllTasks {
        background: url(../Images/lock-icon.png) no-repeat center;
        background-size: 1.7vw;
    }

    #btnSaveExcelFile {
        background: url(../Images/xlsx_icon.svg.png) no-repeat center;
        background-size: 1.7vw;
    }
}

// ----------------------------------------- StartDateNotDefined INIT ------------------------------------------------

#divStartDateNotDefined {
    height: auto; //428px;
    max-height: 464px; //437px;
    border: 1px solid #337ab7;
    padding: 15px 7px;
    overflow: auto;

    #btnApplyStartDate {
        width: 100%;
        height: 30px;
        background-color: #337ab7;
    }

    .eventStartDateNofDefined {
        border: 1px solid #ddd;
        /*width: 100%;
        min-width: 200px;*/
        width: auto;
        height: 18px;
        background-color: saddlebrown;
        border-radius: 4px;
        text-align: center;
        margin: 2px;
        cursor: pointer !important;

        label {
            color: white;
            font-size: .85em;
            margin: 0 auto !important;
            font-weight: normal;
            vertical-align: middle;
            padding-left: 5px;
            padding-bottom: 15px;
            cursor: pointer !important;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .lblTooltip {
            display: none;
        }

        &:hover {
            opacity: 0.5;
        }
    }

    .tooltip-inner {
        max-width: 300%;
        white-space: nowrap;
    }
}

.collapseDivStartDateNotDefined {
    background-color: #337ab7;
    color: white;
    padding: 10px;
    margin: 0;
    position: relative;
    border-radius: 4px;

    &:after {
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 15px;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }
}

@media (max-width: 1700px) {
    .collapseDivStartDateNotDefined {
        background-color: #337ab7;
        color: white;
        padding: 10px;
        margin: 0;
        position: relative;
        border-radius: 5px;
        font-size: 12px;

        &:after {
            display: inline-block;
            position: absolute;
            top: 14px;
            right: 6px;
            vertical-align: .255em;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-bottom: 0;
            border-left: .3em solid transparent;
        }
    }

    /*#btnActions {
        font-size: 12px !important;
    }

    #actionsModal {
        .modal-dialog {
            width: 60vw !important;
        }
    }*/
}

// ----------------------------------------- StartDateNotDefined END -------------------------------------------------
// ----------------------------------------- INFO EVENT INIT --------------------------------------------------------------

#infoEvent {
    padding: 5px;
    display: none;
    height: 25vh;
    width: 20vw;
    float: left;
    margin: auto;
    /*opacity:0.4;*/
    background-color: #b2b2b2;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.objTooltip {
    z-index: 10;
    background-color: black;
    color: wheat;
    width: auto;
    /*float: right;*/
    margin: auto;
    bottom: 0 !important;
    position: fixed; //absolute;
    padding: 0 10px 10px 10px;
    border: 1px solid #d2d2d2;

    .boldContent {
        font-weight: bold;
    }

    .wrapContent {
        white-space: pre-line;
    }
}

.backgroundColorEventTooltip {
    background-color: black !important;
}

#fieldsetInfoPanel{
    position:relative;
}

#infoPanel::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    right: 7px;
    top: 7px;
    transform: rotate(225deg);
}

.toggleChevron::after {
    transform: rotate(45deg) !important;
}

.hideInfoPanel {
    display: none;
}

/*.teste {
    padding-left: 0 !important;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 37.2vh; //25vh height = (100 - 25) / 2 = 75/2 = 37.5
}*/
/*.displayInfoEvent{
    display:block !important;
}

.ontopEvent{
    background-color: #d87676;
}*/
// ----------------------------------------- INFO EVENT END --------------------------------------------------------------
// ----------------------------------------- INFO PANEL INIT --------------------------------------------------------------
/*#infoPanel {
    display: none;
}*/
// ----------------------------------------- INFO PANEL END --------------------------------------------------------------
// ----------------------------------------- MODAL INIT --------------------------------------------------------------
#linkWorkItemTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 96%;

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    .linkWorkItemHeader {
        font-weight: bold;
        font-size-adjust: 0.58;
    }

    .deleteLinkWorkItemTableRow {
        width: 35px;
        height: 35px;
        background: url(../Images/delete-icon.jpg) no-repeat center;
        background-size: 20px;
    }

    th:nth-child(2) {
        width: 10%;
        text-align: center;
    }

    .hiddenWorkItemId {
        display: none;
    }
}

#workItemLinkNotSaved {
    color: red;
    font-style: italic;
    font-size: 12px;
}

//not being used
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#eventModal, #copyTaskModal, #linkWorkItemModal {
    label {
        width: 160px !important;
    }

    input:not([type="checkbox"]),
    textarea,
    select {
        width: 380px !important;
        max-width: none;
    }

    #workItemsLinkedTimesheet {
        width: 340px !important;
    }

    #btnLinkWorkItem {
        width: 35px;
        height: 35px;
        background: url(../Images/add.png) no-repeat center;
        background-size: 20px;
    }

    .icon {
        display: inline-block;
        vertical-align: middle;
    }

    .icon--plus > path {
        fill: green;
        stroke: green;
        stroke-width: 1;
        stroke-linejoin: round;
    }
}

.modalLbl {
    //min-width: 200px !important;
    //font-size: 14px !important;
    //font-size: 1.3vw !important;
}

.modal-footer {
    padding-right: 40px !important;
}

// ----------------------------------------- MODAL END --------------------------------------------------------------
// ----------------------------------------- CALENDAR INIT --------------------------------------------------------------

#calendar {
    height: 800px !important;
    max-height: 800px !important;
    overflow: auto;
    z-index: 1 !important;
}

.fc-time {
    display: none;
}

.tooltip-inner {
    max-width: 100%;

    * {
        color: white !important;
    }
}

.fc-list-item-marker,
.fc-list-item-time {
    display: none !important;
}

.urlLinkTfs {
    padding-top: 10px;
}

.dayOutOfTheOffice {
    //padding-top: 50px;
}

.weekendDay {
    //padding-top: 50px;
    /*background-color: #b2b2b2 !important;*/
}

.hollidayEvent {
    //padding-top: 50px;
}

// ----------------------------------------- CALENDAR END --------------------------------------------------------------
// ----------------------------------------- FOOTER INIT --------------------------------------------------------------
._footer {
    height: 2vh;
}

// ----------------------------------------- FOOTER END --------------------------------------------------------------
// ----------------------------------------- GRID AREA INIT --------------------------------------------------------------

/*#btnActions {
    width: 100%;
    font-size: 18px;
}

.item1 {
    grid-area: excelExport;

    #btnSaveExcelFile {
        width: 23%;
        height: 53%;
        margin: auto;
        background: url(../Images/xlsx_icon.svg.png) no-repeat center;
        background-size: 3.5vw;
        cursor: pointer;
    }
}

.item2 {
    grid-area: monthInfo;

    #btnInfo {
        width: 23%;
        height: 53%;
        margin: auto;
        background: url(../Images/info_icon_light.png) no-repeat center;
        background-size: 3.5vw;
        cursor: pointer;
    }
}

.item3 {
    grid-area: CloseTasks;

    #btnCloseAllTasks {
        width: 23%;
        height: 53%;
        margin: auto;
        background: url(../Images/lock-icon.png) no-repeat center;
        background-size: 3.5vw;
        cursor: pointer;
    }
}

.item4 {
    grid-area: CloseTasksStartDateNotDefined;
}

.item5 {
    grid-area: Report;
}

.item6 {
    grid-area: Test;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'excelExport monthInfo CloseTasks' 'CloseTasksStartDateNotDefined Report Test';
    grid-gap: 10px;
    background-color: lightgrey;
    padding: 10px;
    height: 100%;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
    
#actionsModal {
    margin: auto;

    .modal-dialog {
        width: 50vw;
        height: auto;
    }

    .modal-body {
        height: 100%;
    }

    .modal-content {
        height: 55vh;
    }
}
*/

// ----------------------------------------- GRID AREA END --------------------------------------------------------------

.form-group {
    margin-bottom: 5px !important;
}

input {
    max-width: none !important;
}

table th, td {
    margin: auto !important;
    text-align: center;
}

.displayNone {
    display: none;
}

.displayFlex {
    display: flex;
}

/*.dropdownActions {
    width: 100%;
    font-size:18px;

    a {
        white-space: nowrap;
    }

    input {
        width: 100%;
        margin-bottom: 5px;
    }

    button {
        width: 100%;
        text-align: left;

        &:after {
            display: inline-block;
            position: absolute;
            top: 15px;
            right: 5px;
            vertical-align: .255em;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-bottom: 0;
            border-left: .3em solid transparent;
        }
    }

    .dropdown-menu {
        padding: 5px;
        border-color: darkgrey;
    }
}*/
/*---------------------------------------------------NEW ??? KEEP???*/
// --------------------------------------------------  SIDE MENU INIT ----------------------------------------------
/*-------------------------------- END ----*/
/*#body-row {
    margin-left: 0;
    margin-right: 0;
    display: flex;
}

#sidebar-container {
    min-height: 90vh;
    background-color: #132644;
    padding: 0;
}

.sidebar-expanded {
    width: 230px;
}

.sidebar-collapsed {
    width: 100px;
}

#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

#sidebar-container .list-group li.list-group-item {
    background-color: #132644;
}

#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}

.sidebar-separator-title {
    background-color: #132644;
    height: 35px;
}

.sidebar-separator {
    background-color: #132644;
    height: 25px;
}

.logo-separator {
    background-color: #132644;
    height: 60px;
}

a.bg-dark {
    background-color: #132644 !important;
}

.body-content {
    padding-left: 0px !important;
    margin-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 0px !important;
}

.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 0px !important;
}*/

// --------------------------------------------------  SIDE MENU END ----------------------------------------------

.fieldChanged {
    background-color: rgba(255, 0, 0, 0.02);
    font-style: italic;
}

.logoutUser {
    background-repeat: no-repeat !important;
    background-image: url(../Images/poweroff.svg) !important;
    padding-top: 12px !important;
    width: 32px;
    height: 32px;
}

//media query
@media screen and (max-width: 1300px) {

    #eventModal *,
    .fc-view-container *,
    .fc-left,
    .userSelectionWrapper *,
    .monthSelectionWrapper *,
    .yearSelectionWrapper *,
    .modalLbl {
        font-size: 1.0vw !important;
        //color: red !important;
    }

    .modal{
        height: 95vh !important;
    }
}

#lblDefaultPathToSaveExcelFile,
#txtDefault2PathToSaveExcelFile {
    width:95%;
    word-break:break-word;
}