.modalPleaseWait {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) url(../Images/pacman_animated.gif) no-repeat;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
}
body.loading .modalPleaseWait {
  display: block;
  overflow: hidden;
}
#divStatDateNotDefined {
  height: 428px;
  max-height: 500px;
  border: 1px solid #ddd;
  padding: 7px;
  overflow: auto;
}
#divStatDateNotDefined .eventStartDateNofDefined {
  border: 1px solid #ddd;
  width: 100%;
  min-width: 200px;
  height: 18px;
  background-color: saddlebrown;
  border-radius: 4px;
  text-align: center;
  margin: 2px;
  cursor: pointer !important;
}
#divStatDateNotDefined .eventStartDateNofDefined label {
  color: white;
  font-size: 0.85em;
  margin: 0 auto !important;
  font-weight: normal;
  vertical-align: middle;
  padding-left: 5px;
  padding-bottom: 15px;
  cursor: pointer !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#divStatDateNotDefined .eventStartDateNofDefined .lblTooltip {
  display: none;
}
#divStatDateNotDefined .eventStartDateNofDefined:hover {
  opacity: 0.5;
}
#divStatDateNotDefined .tooltip-inner {
  max-width: 300%;
  white-space: nowrap;
}
#calendar {
  height: 800px !important;
  max-height: 800px !important;
  overflow: auto;
}
.form-group {
  margin-bottom: 5px !important;
}
input {
  max-width: none !important;
}
table th,
td {
  margin: auto !important;
  text-align: center;
}
.modalLbl {
  min-width: 200px !important;
}
.fc-time {
  display: none;
}
#eventModal label {
  width: 160px !important;
}
#eventModal input:not([type="checkbox"]),
#eventModal textarea,
#eventModal select {
  width: 380px !important;
  max-width: none;
}
.tooltip-inner {
  max-width: 100%;
}
.tooltip-inner * {
  color: white !important;
}
.loadBarContainer {
  max-width: 95%;
  padding-left: 2.5%;
}
.fc-list-item-marker,
.fc-list-item-time {
  display: none !important;
}
.modal-footer {
  padding-right: 40px !important;
}
#btnSaveExcelFile {
  background: url(../Images/xsl_icon.png) no-repeat;
  cursor: pointer;
  width: 55px;
  height: 65px;
  border: none;
}
#btnInfo {
  background: url(../Images/info_icon_light.png) no-repeat;
  cursor: pointer;
  width: 65px;
  height: 65px;
  border: none;
}
.leftContent {
  /*border: 1px solid lightgrey;*/
}
._footer {
  height: 2vh;
}
.urlLinkTfs {
  padding-top: 10px;
}