#targetTable {
    height: 720px !important;
    max-height: 720px !important;
    overflow: auto;
    display: none;
    #timesheetTable {
        &.table {
            tbody {
                tr {
                    td {
                        vertical-align: middle !important;
                    }
                }
            }
        }
    }
}

#calendar {
    height: 720px !important;
    max-height: 720px !important;
    overflow: auto;
    /*table {
        border-collapse: separate !important;
        border-spacing: 20px 0 !important;
    }*/
}

.fc-basic-view .fc-body .fc-row {
    min-height: 4em;
    height: 100px;
}

#calendar {
    /*display: none;*/
}

.form-group {
    margin-bottom: 5px !important;
}

input {
    max-width: none !important;
}

.tableHighlighted {
    border: 13px solid yellow;
}

.row-intial {
    border: none !important;
    color: black;
}

.row-active {
    border: 5px solid green !important;
}

.row-inactive *:not(.radioTd) {
    color: #b9b9b9;
}

.weekendRow {
    background-color: #4c4949 !important;
    color: #b9b9b9;
}

table th, td {
    margin: auto !important;
    text-align: center;
}

.modalLbl {
    min-width: 200px !important;
}

.fc-time {
    display: none;
}

.customBtn {
    display: flex;
    margin-top: 3px;
}

.floatRight {
    float:right;
}

.h2RightAligned {
    position: absolute;
    right: 0;
}

#btnView {
    padding-top: 4px;
    margin-left: 6px;
}

#eventModal label {
    width: 160px !important;
}

#eventModal input {
    width: 380px !important;
}

.tooltip-inner {
    max-width: 100%;
}

.loadBarContainer {
    max-width: 95%;
    padding-left: 2.5%;
}

.fc-list-table .loadBarContainerListView {
    max-width: 90vw;
}

.userNameSelect {
    margin-top: 5px;
    margin-right:15px;
    width: 250px;
}

.fc-list-item-marker,
.fc-list-item-time {
    display:none !important;
}

.modal-footer {
    padding-right: 40px !important;
}

    // ----------------------------------------- PLEASE WAIT GIF INIT -----------------------------------------------------
    /* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
    .modalPleaseWait {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255, .8 ) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
    }
    /* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
    body.loading .modalPleaseWait {
        overflow: hidden;
    }
    /* Anytime the body has the loading class, our
   modal element will be visible */
    body.loading .modalPleaseWait {
        display: block;
    }
    // ----------------------------------------- PLEASE WAIT GIF END -----------------------------------------------------