.body-content {
  min-width: 1250px !important;
}
.modalPleaseWait {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) url(../Images/pacman_animated.gif) no-repeat;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
}
body.loading .modalPleaseWait {
  display: block;
  overflow: hidden;
}
#divStartDateNotDefined {
  height: auto;
  max-height: 464px;
  border: 1px solid #337ab7;
  padding: 15px 7px;
  overflow: auto;
}
#divStartDateNotDefined .eventStartDateNofDefined {
  border: 1px solid #ddd;
  /*width: 100%;
        min-width: 200px;*/
  width: auto;
  height: 18px;
  background-color: saddlebrown;
  border-radius: 4px;
  text-align: center;
  margin: 2px;
  cursor: pointer !important;
}
#divStartDateNotDefined .eventStartDateNofDefined label {
  color: white;
  font-size: 0.85em;
  margin: 0 auto !important;
  font-weight: normal;
  vertical-align: middle;
  padding-left: 5px;
  padding-bottom: 15px;
  cursor: pointer !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#divStartDateNotDefined .eventStartDateNofDefined .lblTooltip {
  display: none;
}
#divStartDateNotDefined .eventStartDateNofDefined:hover {
  opacity: 0.5;
}
#divStartDateNotDefined .tooltip-inner {
  max-width: 300%;
  white-space: nowrap;
}
.collapseDivStartDateNotDefined {
  background-color: #337ab7;
  color: white;
  padding: 10px;
  margin: 0;
  position: relative;
  border-radius: 4px;
}
.collapseDivStartDateNotDefined:after {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 15px;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
@media (max-width: 1700px) {
  .collapseDivStartDateNotDefined {
    background-color: #337ab7;
    color: white;
    padding: 10px;
    margin: 0;
    position: relative;
    border-radius: 5px;
    font-size: 12px;
  }
  .collapseDivStartDateNotDefined:after {
    display: inline-block;
    position: absolute;
    top: 14px;
    right: 6px;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
  #btnActions {
    font-size: 12px !important;
  }
  #actionsModal .modal-dialog {
    width: 60vw !important;
  }
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#eventModal label,
#copyTaskModal label,
#linkWorkItemModal label {
  width: 160px !important;
}
#eventModal input:not([type="checkbox"]),
#copyTaskModal input:not([type="checkbox"]),
#linkWorkItemModal input:not([type="checkbox"]),
#eventModal textarea,
#copyTaskModal textarea,
#linkWorkItemModal textarea,
#eventModal select,
#copyTaskModal select,
#linkWorkItemModal select {
  width: 380px !important;
  max-width: none;
}
#eventModal #workItemsLinkedTimesheet,
#copyTaskModal #workItemsLinkedTimesheet,
#linkWorkItemModal #workItemsLinkedTimesheet {
  width: 340px !important;
}
#eventModal #btnLinkWorkItem,
#copyTaskModal #btnLinkWorkItem,
#linkWorkItemModal #btnLinkWorkItem {
  width: 35px;
  height: 35px;
  background: url(../Images/add.png) no-repeat center;
  background-size: 20px;
}
#eventModal .icon,
#copyTaskModal .icon,
#linkWorkItemModal .icon {
  display: inline-block;
  vertical-align: middle;
}
#eventModal .icon--plus > path,
#copyTaskModal .icon--plus > path,
#linkWorkItemModal .icon--plus > path {
  fill: green;
  stroke: green;
  stroke-width: 1;
  stroke-linejoin: round;
}
.modalLbl {
  min-width: 200px !important;
}
.modal-footer {
  padding-right: 40px !important;
}
#calendar {
  height: 800px !important;
  max-height: 800px !important;
  overflow: auto;
}
.fc-time {
  display: none;
}
.tooltip-inner {
  max-width: 100%;
}
.tooltip-inner * {
  color: white !important;
}
.fc-list-item-marker,
.fc-list-item-time {
  display: none !important;
}
.urlLinkTfs {
  padding-top: 10px;
}
.dayOutOfTheOffice {
  padding-top: 50px;
}
._footer {
  height: 2vh;
}
#btnActions {
  width: 100%;
  font-size: 18px;
}
.item1 {
  grid-area: excelExport;
}
.item1 #btnSaveExcelFile {
  width: 23%;
  height: 53%;
  margin: auto;
  background: url(../Images/xlsx_icon.svg.png) no-repeat center;
  background-size: 3.5vw;
  cursor: pointer;
}
.item2 {
  grid-area: monthInfo;
}
.item2 #btnInfo {
  width: 23%;
  height: 53%;
  margin: auto;
  background: url(../Images/info_icon_light.png) no-repeat center;
  background-size: 3.5vw;
  cursor: pointer;
}
.item3 {
  grid-area: CloseTasks;
}
.item3 #btnCloseAllTasks {
  width: 23%;
  height: 53%;
  margin: auto;
  background: url(../Images/lock-icon.png) no-repeat center;
  background-size: 3.5vw;
  cursor: pointer;
}
.item4 {
  grid-area: CloseTasksStartDateNotDefined;
}
.item5 {
  grid-area: Report;
}
.item6 {
  grid-area: Test;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'excelExport monthInfo CloseTasks' 'CloseTasksStartDateNotDefined Report Test';
  grid-gap: 10px;
  background-color: lightgrey;
  padding: 10px;
  height: 100%;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
#actionsModal {
  margin: auto;
}
#actionsModal .modal-dialog {
  width: 50vw;
  height: auto;
}
#actionsModal .modal-body {
  height: 100%;
}
#actionsModal .modal-content {
  height: 55vh;
}
.form-group {
  margin-bottom: 5px !important;
}
input {
  max-width: none !important;
}
table th,
td {
  margin: auto !important;
  text-align: center;
}
.displayNone {
  display: none;
}
.displayFlex {
  display: flex;
}
/*.dropdownActions {
    width: 100%;
    font-size:18px;

    a {
        white-space: nowrap;
    }

    input {
        width: 100%;
        margin-bottom: 5px;
    }

    button {
        width: 100%;
        text-align: left;

        &:after {
            display: inline-block;
            position: absolute;
            top: 15px;
            right: 5px;
            vertical-align: .255em;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-bottom: 0;
            border-left: .3em solid transparent;
        }
    }

    .dropdown-menu {
        padding: 5px;
        border-color: darkgrey;
    }
}*/
/*---------------------------------------------------NEW ??? KEEP???*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
/*-------------------------------- END ----*/
#body-row {
  margin-left: 0;
  margin-right: 0;
  display: flex;
}
#sidebar-container {
  min-height: 90vh;
  background-color: #132644;
  padding: 0;
  /* flex: unset; */
}
.sidebar-expanded {
  width: 230px;
}
.sidebar-collapsed {
  /*width: 60px;*/
  width: 100px;
}
/* ----------| Menu item*/
#sidebar-container .list-group a {
  height: 50px;
  color: white;
}
/* ----------| Submenu item*/
#sidebar-container .list-group li.list-group-item {
  background-color: #132644;
}
#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}
.sidebar-submenu {
  font-size: 0.9rem;
}
/* ----------| Separators */
.sidebar-separator-title {
  background-color: #132644;
  height: 35px;
}
.sidebar-separator {
  background-color: #132644;
  height: 25px;
}
.logo-separator {
  background-color: #132644;
  height: 60px;
}
a.bg-dark {
  background-color: #132644 !important;
}
.body-content {
  padding-left: 0px !important;
  margin-left: 0px !important;
  padding-right: 0px !important;
  margin-right: 0px !important;
}
.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-right: 0px !important;
}
.fieldChanged {
  background-color: rgba(255, 0, 0, 0.02);
  font-style: italic;
}