/*table#roleTable.dataTable tbody tr:hover {
    background-color: #ccc;
}*/
table#userTable.dataTable tbody tr:hover {
  background-color: #ccc;
}
.dotRedActive,
.dotRedChargeable {
  height: 25px;
  width: 25px;
  background-color: #ce2e2e;
  border-radius: 50%;
  display: inline-block;
}
.dotGreenActive,
.dotGreenChargeable {
  height: 25px;
  width: 25px;
  background-color: #2fb77c;
  border-radius: 50%;
  display: inline-block;
}
.deleteUser,
.deleteRole,
.deleteTFSProject,
.deleteTeamDivision {
  font-size: 24px;
  color: red;
}
.editUser,
.editRole,
.editTFSProject,
.editTeamDivision {
  font-size: 20px;
  margin-right: 5px;
}
.hiddenSpan {
  display: none !important;
}
#editCreateUserModal .modal-body .lblUserEditModal,
#editCreateRolesModal .modal-body .lblUserEditModal,
#editCreateTFSReferenceModal .modal-body .lblUserEditModal,
#editCreateTeamDivisionModal .modal-body .lblUserEditModal,
#editCreateUserModal .modal-body .lblRolesEditModal,
#editCreateRolesModal .modal-body .lblRolesEditModal,
#editCreateTFSReferenceModal .modal-body .lblRolesEditModal,
#editCreateTeamDivisionModal .modal-body .lblRolesEditModal,
#editCreateUserModal .modal-body .lblProjectNameTFSditModal,
#editCreateRolesModal .modal-body .lblProjectNameTFSditModal,
#editCreateTFSReferenceModal .modal-body .lblProjectNameTFSditModal,
#editCreateTeamDivisionModal .modal-body .lblProjectNameTFSditModal,
#editCreateUserModal .modal-body .lblTeamDivisionEditModal,
#editCreateRolesModal .modal-body .lblTeamDivisionEditModal,
#editCreateTFSReferenceModal .modal-body .lblTeamDivisionEditModal,
#editCreateTeamDivisionModal .modal-body .lblTeamDivisionEditModal {
  width: 160px !important;
}
#editCreateUserModal .modal-body .inputUserEditModal,
#editCreateRolesModal .modal-body .inputUserEditModal,
#editCreateTFSReferenceModal .modal-body .inputUserEditModal,
#editCreateTeamDivisionModal .modal-body .inputUserEditModal,
#editCreateUserModal .modal-body .inputRolesEditModal,
#editCreateRolesModal .modal-body .inputRolesEditModal,
#editCreateTFSReferenceModal .modal-body .inputRolesEditModal,
#editCreateTeamDivisionModal .modal-body .inputRolesEditModal,
#editCreateUserModal .modal-body .inputProjectNameTFSEditModal,
#editCreateRolesModal .modal-body .inputProjectNameTFSEditModal,
#editCreateTFSReferenceModal .modal-body .inputProjectNameTFSEditModal,
#editCreateTeamDivisionModal .modal-body .inputProjectNameTFSEditModal,
#editCreateUserModal .modal-body .inputTeamDivisionEditModal,
#editCreateRolesModal .modal-body .inputTeamDivisionEditModal,
#editCreateTFSReferenceModal .modal-body .inputTeamDivisionEditModal,
#editCreateTeamDivisionModal .modal-body .inputTeamDivisionEditModal {
  width: 380px !important;
  max-width: none;
}
#editCreateUserModal .modal-body .form-group,
#editCreateRolesModal .modal-body .form-group,
#editCreateTFSReferenceModal .modal-body .form-group,
#editCreateTeamDivisionModal .modal-body .form-group {
  padding: 5px 0;
}
#editCreateUserModal .modal-body .LabelAndInputField,
#editCreateRolesModal .modal-body .LabelAndInputField,
#editCreateTFSReferenceModal .modal-body .LabelAndInputField,
#editCreateTeamDivisionModal .modal-body .LabelAndInputField {
  display: flex !important;
}
#editCreateUserModal .modal-body .field-validation-error,
#editCreateRolesModal .modal-body .field-validation-error,
#editCreateTFSReferenceModal .modal-body .field-validation-error,
#editCreateTeamDivisionModal .modal-body .field-validation-error {
  margin-left: 160px;
}
#editCreateUserModal .modal-footer #btnCreate,
#editCreateRolesModal .modal-footer #btnCreate,
#editCreateTFSReferenceModal .modal-footer #btnCreate,
#editCreateTeamDivisionModal .modal-footer #btnCreate,
#editCreateUserModal .modal-footer #btnUpdate,
#editCreateRolesModal .modal-footer #btnUpdate,
#editCreateTFSReferenceModal .modal-footer #btnUpdate,
#editCreateTeamDivisionModal .modal-footer #btnUpdate {
  display: none;
}
/*------------------------------------------------------------------ END TOGGLE SWITCH ------------------------------------------------------------------- */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 16px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 9px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/*------------------------------------------------------------------ END TOGGLE SWITCH ------------------------------------------------------------------- */
#teamDivisionTable,
#btnTeamDivision {
  display: none;
}
#teamDivisionTable.showDivisionTable,
#btnTeamDivision.showDivisionTable {
  display: table;
}
#teamDivisionTable_wrapper {
  width: 40%;
}
#divMsg {
  padding: 5px !important;
  width: 260px;
  margin-bottom: 5px;
  background-color: rgba(87, 243, 243, 0.4);
}